<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NutritionRecettes</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
     <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2"></span> Accueil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredients">
                <span class="bi bi-basket-fill me-2"></span> Ingrédients
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recettes">
                <span class="bi bi-book-fill me-2"></span> Recettes
            </NavLink>
        </div>
    </nav>
</div>

